html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Global style */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

img {
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  /* list-style: none; */
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  width: 270px;
  height: 70px;
  background: linear-gradient(180deg, #a6d04d 0%, #88bb1c 44.79%, #a6d04d 100%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 16px 60px;
  cursor: pointer;
}

.border {
  border: 10px solid rgba(159, 204, 63, 0.75);
  border-radius: 15px;
  padding: 20px 40px;
}

.btn-submit {
  position: absolute;
  right: 5px;
  bottom: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn-link {
  width: 100%;
  display: block;
  background: linear-gradient(180deg, #a6d04d 0%, #88bb1c 44.79%, #a6d04d 100%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 0;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.btn-provide-answer {
  width: 100%;
  background: linear-gradient(180deg, #a6d04d 0%, #88bb1c 44.79%, #a6d04d 100%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px 0;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

/* Header */

.main-header {
  display: flex;
  align-items: center;
  min-height: 150px;
  background: linear-gradient(to bottom, #80bc00, #415c08, #80bc00);
}

.navbar {
  width: 100%;
  max-width: 1168px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.teacher {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #e7eded;
}

/* MAIN */

.main-teacher {
  min-height: 80vh;
  background-image: url("../img/teacher-home-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-teacher-wripper {
  display: flex;
  justify-content: space-between;
}

.teacher-column {
  margin-top: 100px;
}

.teacher-card {
  display: flex;
  width: 100%;
  max-width: 450px;
  max-height: 200px;
}

.teacher-photo-profile {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.teacher-name {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin-left: 40px;
}

.teacher-card-btn {
  margin-top: 200px;
  margin-left: 100px;
}

.teacher-active-links {
  margin-right: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.active-links-list {
  margin-bottom: 50px;
}

.active-links-item {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #101010;
  padding: 10px 0;
}

.teacher-analysis-of-answers {
  padding: 20px 40px;
  margin-right: 100px;
}

.teacher-analysis-of-answers h2 {
  text-align: center;
}

.analysis-of-answers-item {
  list-style: none;
}

/* teacher-questions-page */

/* HEADER */

.questions-answers a,
.questions-answers span {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #333333;
  transition: 0.5s;
}

.questions-answers a:hover {
  color: #fff;
}

.teacher-custom-select {
  display: flex;
  justify-content: space-between;
  width: 460px;
  height: 80px;
  background: #fff;
}

.teacher-custom-select select {
  width: 380px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #e7eded;
  cursor: pointer;
  padding-left: 20px;
}

.teacher-custom-select option {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #e7eded;
}

.teacher-custom-select option:first-child {
  display: none;
}

.btn-plus {
  width: 80px;
  height: 80px;
  background: #a6d04d;
  border: none;
  cursor: pointer;
}

/* MAIN */

.teacher-questions-wripper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.online-stream-student {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 750px;
  padding: 10px;
  margin-bottom: 20px;
}

.online-stream {
  width: 100%;
  margin: 10px;
}

.student-photo-list {
}

.student-photo-item {
  list-style: none;
}

.student-chat {
  position: relative;
  width: 100%;
  max-width: 750px;
  min-height: 390px;
}

.student-chat p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #c7d0d9;
}

.create-question,
.view-answers {
  margin-bottom: 20px;
}

.create-question h2,
.view-answers h2,
.students-questions h2 {
  text-align: center;
}

.create-question-list,
.view-answers-list {
  list-style: none;
}

.students-questions h2 {
  margin-bottom: 50px;
}

.students-questions h2 span {
  background: #b7d96f;
  padding: 10px;
  margin-left: 10px;
}

/* teacher-answers-diagram */

.main-answers-diagram-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-answers-col {
  width: 100%;
  max-width: 560px;
  min-height: 530px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

div.main-answers-diagram-wrapper > div:nth-child(1) {
  justify-content: space-around;
}

div.main-answers-diagram-wrapper > div:nth-child(2) {
  justify-content: flex-end;
}

.main-answers-col h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
  color: #000000;
}

.btn-icon {
  width: 200px;
  height: 80px;
  background: linear-gradient(180deg, #A6D04D 0%, #88BB1C 44.79%, #A6D04D 100%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  margin: 0 auto;
  cursor: pointer;
}

.diagram-list {
  border: 5px solid #BFCAD3;
  border-radius: 0px;
  margin-top: 20px;
}

.diagram-item {
  list-style: none;
}

.diagram-item span {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #BFCAD3;
  margin: 20px;
}

div.main-answers-diagram-wrapper > div:nth-child(2) > ul {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 100%;
}

.green {
  width: 90px;
  height: 120px;
  background: linear-gradient(180deg, #ADF218 0%, #50700B 100%);
  box-shadow: 2px -1px 6px rgba(0, 0, 0, 0.5);
}

.grey {
  width: 90px;
  height: 200px;
  background: linear-gradient(180deg, #E7EDED 0%, #BFCAD3 100%);
  box-shadow: 2px -1px 6px rgba(0, 0, 0, 0.5);
}

.blue {
  width: 90px;
  height: 90px;
  background: linear-gradient(180deg, #0E8AB4 0%, #1E5583 100%);
  box-shadow: 2px -1px 6px rgba(0, 0, 0, 0.5);
}

.student-question {
  position: relative;
  margin-bottom: 30px;
}

.student-question-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.student-question-wrapper:before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: "5";
  width: 30px;
  height: 30px;
  top: 0;
  left: 50px;
  background: linear-gradient(180deg, #A6D04D 0%, #88BB1C 44.79%, #A6D04D 100%);
  border-radius: 50px;
  color: #fff;
}

.student-question-wrapper p {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-left: 20px;
}